{% extends 'base.html' %}

{% block title %}
Registration Page
{% endblock %}

{% block content %}
<h1>Welcome to Registration Page</h1>

<form method="post" action="{{ url_for('registration') }}">
  {{ registration_form.csrf_token }}
  <div class="form-group">
    {{ registration_form.username.label(class='form_label')}}
    {{ registration_form.username(class="form-control")}}
  </div>
  <div class="form-group">
    {{ registration_form.password.label(class='form_label')}}
    {{ registration_form.password(class="form-control")}}
  </div>
  <div class="form-group">
    {{ registration_form.phone.label(class='form_label')}}
    {{ registration_form.phone(class="form-control")}}
  </div>
  <div class="form-check">
    {{ registration_form.sp500_enabled.label(class='form_label')}}
    {{ registration_form.sp500_enabled(class="form-check-input") }}
  </div>
    {{ registration_form.submit(class="btn btn-primary") }}
</form>


{% endblock %}